.wrapper {
    padding: 16px 0;
    border-top: 1px solid #e3e3e4;
}

.label {
    padding: 0 8px;
    margin-bottom: 8px;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.4rem;
}

.account-item {
    padding: 8px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 4px;
    font-weight: 600;
    transition: background-color 200ms ease-in-out 0s;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.account-preview {
    width: 348px;
}

.avatar {
    display: flex;
    margin-right: 12px;

    img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.item-info {
    height: 32px;
    flex: 1;
}

.nickname {
    color: #161823;
    font-family: var(--font-family-nickname);
    font-size: 1.6rem;
    line-height: 24px;
    margin-top: -2px;

    .icon-tick {
        display: inline-flex;
        font-size: 1.4rem;
        color: #20d5ec;
        margin-left: 3px;
    }
}

.name {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 15px;
    max-width: 260px;
}

.more-button {
    padding: 8px;
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
}


